Django==6.0.2
gunicorn==26.0.0
psycopg2-binary==2.9.12
whitenoise==6.12.0
python-dotenv==1.2.2

django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-jazzmin==3.0.4

djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1

Pillow==10.4.0
razorpay==2.0.1
requests==2.32.5
PyJWT==2.12.1
sqlparse==0.5.5
tzdata==2025.3
